<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


	<bean id="StudentDAO" class="org.tnsindia.springbean.StudentDAO"></bean>
	<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
	<property name="URL" value="jdbc:mysql://127.0.0.1:3306/?user=root"/>
	<property name="username" value="root"/>
	<property name="password" value="RutvikRS@123"/>
	</bean>
</beans>